* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    min-height: 0;
    font-weight: bold;
}

/* @import "$HOME/.config/colors/colors.css" */
@import "../colors/colors.css";

#waybar {
    background: rgba(68, 68, 68, 0.5);
    padding: 0px;
}

#workspaces button {
    background: none;
    color: @foreground;
    border: none;
    border-radius: 5px;
    padding: 0 8px;
}
#workspaces button:hover {
    color: @pink;
    transition: none;
}

#workspaces button.active {
    color: @pink;
    border: 2px solid @pink;
}

#workspaces button.urgent {
    background-color: @red;
}

#workspaces,
#custom-power,
#tray,
#idle_inhibitor,
#bluetooth,
#network,
#battery,
#pulseaudio,
#clock {
    margin: 2px 3px;
    padding: 1px 6px;
    background-color: @background;
    border-radius: 5px;
}

#custom-power:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#pulseaudio:hover,
#clock:hover {
    background-color: @gray;
}

#bluetooth {
    color: @yellow;
    border: 2px solid @yellow;
}

#network {
    color: @green;
    border: 2px solid @green;
}

#battery {
    color: @purple;
    border: 2px solid @purple;
}

#pulseaudio {
    color: @orange;
    border: 2px solid @orange;
}

#clock {
    color: @blue;
    border: 2px solid @blue;
}

#custom-power {
    padding-left: 10px;
    color: @foreground;
    border: 2px solid @foreground;
}
