* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    min-height: 0;
    font-weight: bold;
}

#waybar {
    background: none;
    padding: 0px;
}

#workspaces button {
    background: none;
    color: #f8f8f2;
    border: none;
    border-radius: 5;
    padding: 0 8px;
}
#workspaces button:hover {
    color: #ff79c6;
    transition: none;
}

#workspaces button.focused {
    color: #f5e0dc;
    border-bottom: 2px solid #f5e0dc;
}

#workspaces button.active {
    color: #ff79c6;
    border: 2px solid #ff79c6;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces,
#custom-power,
#tray,
#idle_inhibitor,
#bluetooth,
#network,
#battery,
#pulseaudio,
#clock {
    margin: 2px 3px 0;
    padding: 1px 6px;
    background-color: #282a36;
    border-radius: 5;
}

#custom-power:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#pulseaudio:hover,
#clock:hover {
    background-color: #44475a;
}

#bluetooth {
    color: #f1fa8c;
    border: 2px solid #f1fa8c;
}

#network {
    color: #50fa7b;
    border: 2px solid #50fa7b;
}

#battery {
    color: #bd93f9;
    border: 2px solid #bd93f9;
}

#pulseaudio {
    color: #ffb86c;
    border: 2px solid #ffb86c;
}

#clock {
    color: #8be9fd;
    border: 2px solid #8be9fd;
}

#custom-power {
    padding-left: 8px;
    color: #f8f8f2;
    border: 2px solid #f8f8f2;
}
